.currency-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.currencies-dropdown-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: bottom;
}

.current-fx-rate-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.current-fx-rate-date {
    font-size: 1.1rem;
    color: var(--text-muted);
}

.current-fx-rate-value {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-primary);
}

.chart-toolbar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.chart-header-title > h3 {
    color: var(--text-primary);
}

.chart-header-title > p {
    margin: 0;
    font-size: 0.875rem;
    color: var(--text-muted);
}