.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.navbar-logo-image {
    width: 3rem;
    height: 3rem;
}

.navbar-logo:hover {
    color: var(--primary-hover);
}

.navbar-logo i {
    font-size: 1.5rem;
}

.navbar-menu {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    padding: 0.75rem 0.2rem;
    color: var(--text-secondary);
    text-decoration: none;
}


.navbar-user-menu-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    padding: 0.5rem 1rem;
    color: var(--text-secondary);
    min-width: 180px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.navbar-user-menu-button:hover {
    color: var(--primary);
    background-color: var(--primary-light);
}

.navbar-user-menu-button i:first-child {
    font-size: 1.25rem;
}

.navbar-user-menu-button i:last-child {
    font-size: 0.75rem;
}

.navbar-dropdown-menu {
    position: absolute;
    top: 160%;
    right: 0;

    min-width: 180px;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 1001;
    overflow: hidden;
}

.navbar-dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    padding: 0.75rem 1rem;
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-align: left;
}

.navbar-dropdown-item:hover {
    color: var(--primary);
    background-color: var(--primary-light);
}


