<tr>
    <td style="background-color: #f8f9fa; padding: 20px; text-align: center;">
        <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td align="center" style="padding: 0;">
                    <table role="presentation" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td align="center" valign="middle" style="padding-right: 10px;">
                                <img src="https://uca5fd32aa1bd96898b0a2790c67.previews.dropboxusercontent.com/p/thumb/AC1o4eRMjW_lOYZZKwpKwU_cJ_2K0R0UwWle3qpKvxSm2DNgq4Q9KZVir4VhWrv4fbLcsmKDHxta6iZRYqrIdZH1vy6RcjTqbd1-D2nPMADYLKOelQjsN5zrNBaQ527CfrFBT6t2tnKHOTmVhCTs_lX1PmpJYS-7tAiNBu0Uf5LL3SzfyJGqpc4rdUKrqShIh2-VSMvkGGzrAnHqC-f_3XMjmJoUrAYKZRP7OgusCjW_wBfKAX6BF2l1m1Qp4nA7iC2blg90j-TUQdFU6fSgSK7Y7wnJvrmTl5Eu0De1eiA8zMqKVV4Gb39_lKemtBSd_OGWGdnX3wQqpVgvsAbBE-CKVEJGS6VYQI3lyB6pd6jcjbsx9wO1NbYqmShdYNiP9cI/p.png?is_prewarmed=true"
                                    alt="LTX Service Logo" width="50" height="50" style="display: block; border: 0;">
                            </td>
                            <td align="left" valign="middle">
                                <h1 style="margin: 0; font-size: 24px; color: #333; font-weight: normal;">Investment
                                    Lens</h1>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>