.market-page-container {
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}