.reset-password-page {
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password-form {
    max-width: 650px;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.reset-password-form > h1 {
    text-align: left;
}

.reset-password-token-input {
    height: 120px;
}